//////////////
//Flex
/////////////
@mixin flex{                    // regular centering-flexbox
  display: flex;
  justify-content: center;
  align-items: center;
}

//////////////
//Button
/////////////
@mixin button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  text-decoration: none;
  color:$light-color;
  border-radius: 50px;
  background: $gradient;
  outline: none;
  height: 3rem;
  font-weight: 700;
  transition: all 1s ease;
    &:hover{
    transform: scale(1.01) ;
    box-shadow: $total-shadow;
    background: $gradient--button;
    transition-delay:.1s;
    }
}

/////////
//images
/////////
@mixin images{
  display: block;
  width: 100%;
  object-fit: cover;
  height: 16rem;
}

///////////////////////
//background-article
////////////////////////
@mixin background-article{
  position: relative;
  background-color: $light-color;
  border-radius: $radius-full;
  width: 80%;
  margin: 1rem auto;
}

//////////////////////////////////////////////
//Key-rames to declare before your animation
//////////////////////////////////////////////
@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(10px)
	}
	100% {
		opacity: 1;
	}
}
@keyframes opacity{
  0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

////////////
//animation
////////////
@mixin fadein{
  animation: 1s fade-in ease-out;
  animation-fill-mode: backwards;
  animation-delay: 1s;
  }

@mixin heart($position:absolute,$right:$right-home, $bottom:$bottom-home) {
  position: $position;
  right: $right;
  bottom: $bottom;
  font-size: 20px; 
  color: transparent;
  -webkit-text-stroke: 1px darkslategray;
  stroke-width: 50;
  padding: 1px;
    &:hover{
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px transparent;
      transition: 200ms ease-in-out;
    }   
  
}
 