////////////
//Colors
////////////

//Purple
$color-primary:#9356DC;
//Pink
$color-secondary:#FF79DA;
//Green
$color-tertiary:#99E2D0;
//Grey
$location-color:#EAEAEA;
$background-color:#DDDD;
$second-color-area:#F6F6F6;
$working-icone-color:#696969;

//Black
$footer-color:#353535;
$color-text-localisator:#0E0E0E;
//White
$light-color:#FFFFFF;
//Gradient
$gradient:linear-gradient($color-secondary, $color-primary);




