////////////////////
//Colors Variables
////////////////////

//Purple
$color-primary:#9356DC;//color icone+gradient
$color-primary-over:#f5edff;
//Pink
$color-secondary:#FF79DA;
//Green
$color-tertiary:#99E2D0;
//Grey
$location-color:#EAEAEA;
$background-color:#DDDD;
$second-color-area:#F6F6F6;
$working-icone-color:#696969;
//Black
$footer-color:#353535;
$color-text-localisator:#0E0E0E;//Black used in text
//White
$light-color:#FFFFFF;
//Gradient
$gradient:linear-gradient($color-secondary, $color-primary);
//anim
$icon-appear:#99e2d0;
$text-new:#008766;
//shadow
$total-shadow: 1px 1px 15px rgb(158, 158, 158);

////////////
//Margin
////////////
$margin-left:1rem;
$right-home:11px;
$right-menu:75px;
$bottom-home:27px;
$none:none;
// $title-bottom:;

////////////
//Position
////////////
$absolute:absolute;

////////////
//Radius
////////////
$radius-top-corner: 2rem 2rem 0 0;







