////////////////////
//Colors Variables
////////////////////
//Purple
$color-primary:#9356DC;//color icone+gradient
$color-primary--button:lighten($color-primary,10%);
$color-primary-hover:#f5edff;
//Pink
$color-secondary:#FF79DA;
$color-secondary--button:lighten($color-secondary,10%);
//Green
$icon-appear:#99e2d0;
$text-new:#008766;
//Grey
$location-color:#EAEAEA;
$background-color:#DDDD;
$second-color-area:#F6F6F6;
$working-icone-color:#696969;
//Black
$footer-color:#353535;
$color-text-localisator:#0E0E0E;//Black used in text
//White
$light-color:#FFFFFF;
//Gradient
$gradient:linear-gradient($color-secondary, $color-primary);
$gradient--button:linear-gradient($color-secondary--button, $color-primary--button);


////////////
//Shadow
////////////
$total-shadow: 1px 1px 15px $working-icone-color;

////////////
//Margin
////////////
$margin-title:1rem;   //margin title 
$right-home:11px;
$right-menu:75px;
$bottom-home:27px;
$none:none;

////////////
//Padding
////////////
$padding-title-h1:1rem 0 1rem 0;
$padding-full-2:2rem;
$padding-main-description:.3rem;

////////////
//Font-size
////////////
$size-title-home:1rem;
$size-title-menu:1.5rem;
$size-price:1rem;
$size-description:.7rem;

////////////
//Font-weight
////////////
$weight-h1:800;
$weight-h2:700;

////////////
//Radius
////////////
$radius-top-corner: 1rem 1rem 0 0;
$radius-full:1rem;








