//Animation Preload
.preload {
  animation: cssAnimation 2s forwards;
  -webkit-animation: cssAnimation 2s forwards;
  &__screen {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
  &Loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    @include flex;
  }
}
}

@keyframes cssAnimation {
	100% {
		width: 0;
		height: 0;
		visibility: hidden;
	}
}
@-webkit-keyframes cssAnimation {
	100% {
		width: 0;
		height: 0;
		visibility: hidden;
	}
}
.preload__screenLoading--cercleAnim {
	width: 30px;
	height: 30px;
	background: #9356DC;
	margin: 0 10px;
	border-radius: 50%;
	animation: loading 2s infinite;
	box-shadow: 0px 0px 1px 2px #99E2D0;
}
.preload__screenLoading--cercleAnim:nth-child(2) {
  animation-delay: 0.1s;
  background-color: #FF79DA;
  box-shadow: 0px 0px 1px 2px  #9356DC;

}
.preload__screenLoading--cercleAnim:nth-child(3) {
  animation-delay: 0.2s;
  background-color: #99E2D0;
  box-shadow: 0px 0px 1px 2px #FF79DA;

}
@keyframes loading {
	0% {
		transform: scale(0);
	}
	33% {
		transform: scale(1);	
  }
  66%{
    transform: scale(0);
  }
	100% {
    transform: scale(1);
		
	}
}